@page
@using HM.Core.Constants
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />             
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />             
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />             
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />              
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />               
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <label asp-for"Input.Role"></label>
            <div class="form-floating">
                <input type="hidden" asp-for="Input.Role" id="role"/>
                <input type="radio" name="role" id="doctorRole" value="Doctor" />
                <label for="doctorRole">Doctor</label>
                <input type="radio" name="role" id="patientRole" value="Patient" />
                <label for="patientRole">Patient</label>

                <div class="form-check" id="doctorCode" style="display:none">
                    <label>Insert the authentication code:</label>
                    <input asp-for="Input.DoctorCode" class="form-control" aria-required="true"/>
                    <span asp-validation-for="Input.DoctorCode" class="text-danger"></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function() {
            $('input[name="role"]').on('click', function() {
                if ($(this).val() == 'Doctor') {
                    $('#doctorCode').show();   
                    $('#role').val('Doctor');
                }
                else {
                    $('#doctorCode').hide();
                    $('#role').val('Patient');
                }
            });
        });
    </script>
}
