@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital management</h1>
    <p>You can set appointments and check for free doctors using this platform.</p>
</div>
