@using HM.Core.Models
@model AddDiseaseViewModel

<div class="row">
    <div class="col-md-4">
        <form id="add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="ICD" class="form-label"></label>
                <input asp-for="ICD" class="form-control" aria-required="true" />               
                <span asp-validation-for="ICD" class="text-danger"></span>
            </div>
            <div class="form-floating">                
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary" asp-controller="Disease" asp-action="Add">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}