@using HM.Core.Models.Appointment
@model AddAppointmentViewModel
@{
    ViewData["Title"] = "Add appointment";
}


<div class="row">
    <div class="col-md-4">
        <form id="add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="PatientId" type="hidden" />
            <input asp-for="Status" type="hidden" />

            <div class="form-group">
                <label class="form-label">Choose Doctor</label>
                <select asp-for="DoctorId" asp-items="@ViewBag.Doctors" class="js-example-basic-single form-control"></select>
            </div>

            <div class="form-floating">
                <label asp-for="Reason" class="form-label"></label>
                <input asp-for="Reason" class="form-control" aria-required="true" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <label class="form-label">Appointment Time</label>
                <input asp-for="AppointmentTime" placeholder="mm/dd/yyyy" textmode="DateTime" class="form-control" aria-required="true" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>

            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary" asp-controller="Patient" asp-action="AddAppointment">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
<script>
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>
}