@using HM.Core.Constants

@if (User.IsInRole(UserConstants.Roles.Doctor))
{
    <li class="nav-item d-none d-sm-inline-block">
        <a href="/Doctor/Schedule" class="nav-link">Schedule</a>
    </li>
}

@if (User.IsInRole(UserConstants.Roles.Patient))
{
    <li class="nav-item d-none d-sm-inline-block">
        <a href="/Patient/Appointments" class="nav-link">Appointments</a>
    </li>

    <li class="nav-item d-none d-sm-inline-block">
        <a href="/Patient/SetAppointment" class="nav-link">Set appointment</a>
    </li>

    <li class="nav-item d-none d-sm-inline-block">
        <a href="/Patient/Referrals" class="nav-link">Refferals</a>
    </li>
}