@using HM.Core.Models
@model UserEditViewModel
@{
    ViewData["Title"] = "Edit User"; 
}

<div class="row">
    <div class="col-md-4">
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" aria-required="true" />               
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">                
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}